<h2>Trades</h2>

<table class="table">
    <thead>
        <tr>
            <td>User</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tr *ngFor="let ft of onMeFullTrades">
        <td>{{ft.otherUser.username}}</td>
        <td>{{ft.trade.tradeStatus.statusName}}</td>
        <td><button class="btn btn-primary" (click)="tradeService.viewTrade(ft)">View</button></td>
    </tr>
    <tr *ngFor="let ft of notOnMeFullTrades">
        <td>{{ft.otherUser.username}}</td>
        <td>{{ft.trade.tradeStatus.statusName}}</td>
        <td><button class="btn btn-primary" (click)="tradeService.viewTrade(ft)">View</button></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)="togglePastTrades()" class="btn btn-secondary">Show/Hide Past Trades</button>
        </td>
        <td></td>
    </tr>
    <ng-container *ngIf="showPastTrades">
        <tr *ngFor="let ft of notPendingFullTrades">
            <td>{{ft.otherUser.username}}</td>
            <td>{{ft.trade.tradeStatus.statusName}}</td>
            <td><button class="btn btn-primary" (click)="tradeService.viewTrade(ft)">View</button></td>
        </tr>
    </ng-container>
</table>