<h2>Trade with {{fullTrade.otherUser.username}}</h2>
<ng-container *ngIf="tradeToMe()">
    <button (click)="acceptTrade()" class="btn btn-success">Accept Trade</button>
    <button (click)="rejectTrade()" class="btn btn-danger">Reject Trade</button>
</ng-container>
<p>Status: {{fullTrade.trade.tradeStatus.statusName}}</p>
<table>
    <tr>
        <td>Cards You are Receiving</td>
        <td>Cards You are Giving</td>
    </tr>
    <tr>
        <td>
            <ng-container *ngFor="let ouc of otherUsersCards">
                <img src="{{ouc.card.image}}" class="memeImage {{ouc.card.rarity.name}}" routerLink="/card-details/{{ouc.card.id}}">
            </ng-container>
        </td>
        <td>
            <ng-container *ngFor="let luc of loggedUsersCards">
                <img src="{{luc.card.image}}" class="memeImage {{luc.card.rarity.name}}" routerLink="/card-details/{{luc.card.id}}">
            </ng-container>
        </td>
    </tr>
</table>
<button (click)="goBack()" class="btn btn-secondary">Go Back</button>