#collection {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
#otherUsersCardDiv {
    text-align: left;
}

#loggedUsersCardDiv {
    text-align: left;
}

#submit-trade-button {
    text-align: center;
}
#goBackbutton{
    text-align: left;
}